:root {
  --color-primary: theme("colors.violet.dark");
  --color-secondary: theme("colors.violet.dark");
  --color-text: theme("colors.black");
  --color-text-offset: theme("colors.black");
  --color-background: theme("colors.white");
  --color-background-offset: theme("colors.black");
  --color-border: theme("colors.violet.dark");
}

.dark {
  --color-primary: theme("colors.violet.dark");
  --color-secondary: theme("colors.violet.dark");
  --color-text: theme("colors.white");
  --color-text-offset: theme("colors.black");
  --color-background: theme("colors.black");
  --color-background-offset: theme("colors.black");
  --color-border: theme("colors.violet.dark");
}