---
import Layout from '../layouts/Layout.astro';
import RetroGrid from '../components/animations/RetroGrid.astro';
import MagicCard from '../components/animations/MagicCard.astro';
import Meteors from '../components/animations/Meteors.astro';
import BlurInText from '../components/animations/BlurInText.astro';
import NumberTicker from '../components/animations/NumberTicker.astro';
import Header from '~/components/header.astro';
import Starfield from '~/components/starfield.astro';
import RegularHeader from '~/components/RegularHeader.astro';
import ThemeSwitcher from '~/components/theme-switcher.astro';
import StaticHeader from '~/components/staticheader.astro';

const features = [
  { category: "Core Offerings", items: [
    { name: "Fully ID aware across all your users and workloads", standard: true, premium: true },
    { name: "Unlimited Policies", standard: true, premium: true },
    { name: "Run on Customer Provided Infrastructure", standard: true, premium: true },
    { name: "Cybersecurity Mesh Architecture", standard: true, premium: true },
    { name: "Cloud Ready ThreatMatic", standard: true, premium: true }
  ]},
  { category: "Network", items: [
    { name: "Zero Trust Mesh Architecture", standard: true, premium: true },
    { name: "Edge2Edge Policy", standard: true, premium: true },
    { name: "DNS Lock", standard: true, premium: true },
    { name: "Port Scanner Protection", standard: true, premium: true },
    { name: "Disable DoH (DNS over HTTP)", standard: true, premium: true },
    { name: "DNSSEC Enforcement", standard: false, premium: true },
    { name: "Flexible IPsec Traffic Steering with sChannel", standard: false, premium: true },
    { name: "Metered Socket Actions (QoS)", standard: false, premium: true },
    { name: "Compliance Signals", standard: false, premium: true },
    { name: "TrustZero Cloud Proxy", standard: false, premium: true },
    { name: "Advanced Analytics", standard: false, premium: true },
    { name: "ThreatMatic API", standard: false, premium: true },
    { name: "Mitre Attack Integrated", standard: false, premium: true }
  ]},
  { category: "Admin Management", items: [
    { name: "Cloud-Based Management Platform", standard: true, premium: true },
    { name: "API Support", standard: true, premium: true }
  ]},
  { category: "Support", items: [
    { name: "Self Service Knowledge Base", standard: true, premium: true },
    { name: "Chat/Email Support", standard: true, premium: true },
    { name: "Designated Account Manager", standard: false, premium: true },
    { name: "Technical Specialist", standard: false, premium: true },
    { name: "Phone Support", standard: false, premium: true }
  ]}
];

---
<StaticHeader />
<Layout title="ThreatMatic™ Pricing">


  <main class="relative overflow-hidden py-16 bg-white dark:bg-black text-black dark:text-white">
    
    <div class="container mx-auto py-10 ">
      <BlurInText word="Pricing" class="text-6xl font-bold text-center mb-16" />
      
      <!-- <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mb-16">
        <MagicCard gradientColor="var(--color-violet)" class="p-8 bg-white dark:bg-black border border-violet">
          <h3 class="text-2xl font-semibold mb-4 text-center">Standard</h3>
          <p class="text-center mb-4">Starting from</p>
          <div class="text-center">
            <NumberTicker value={999} duration={500} class="text-5xl font-bold" />
            <span class="text-3xl font-bold">$</span>
          </div>
          <p class="text-center mt-4">per month</p>
          <a href="#" class="mt-6 block w-full bg-violet hover:bg-violet-dark focus:ring-4 focus:ring-violet font-medium rounded-lg text-sm px-4 py-2.5 text-center text-white">Contact Us</a>
        </MagicCard>
        <MagicCard gradientColor="var(--color-violet-dark)" class="p-8 bg-white dark:bg-black border border-violet">
          <h3 class="text-2xl font-semibold mb-4 text-center">Premium</h3>
          <p class="text-center mb-4">Starting from</p>
          <div class="text-center">
            <NumberTicker value={1999} duration={500} class="text-5xl font-bold" />
            <span class="text-3xl font-bold">$</span>
          </div>
          <p class="text-center mt-4">per month</p>
          <a href="#" class="mt-6 block w-full bg-violet hover:bg-violet-dark focus:ring-4 focus:ring-violet font-medium rounded-lg text-sm px-4 py-2.5 text-center text-white">Contact Us</a>
        </MagicCard>
      </div> -->
      
      <MagicCard class="p-2 bg-white dark:bg-black border border-violet">
        <div id="detailed-pricing" class="overflow-x-auto">
          <table class="w-full text-sm text-left" style="table-layout: fixed;">
            <thead class="text-xs uppercase text-white">
              <tr>
                <th scope="col" class="w-64 px-2 py-2">
                  <div class="bg-violet rounded-full py-2 px-4">Features</div>
                </th>
                <th scope="col" class="w-20 px-1 py-2 text-center">
                  <div class="bg-violet rounded-full py-2 px-4">Standard</div>
                </th>
                <th scope="col" class="w-20 px-1 py-2 text-center">
                  <div class="bg-violet rounded-full py-2 px-4">Premium</div>
                </th>
              </tr>
            </thead>
            <tbody>
              {features.map(category => (
                <>
                  <tr class="border-b border-violet">
                    <th scope="row" colspan="3" class="px-2 py-2 font-medium text-black dark:text-white">
                      {category.category}
                    </th>
                  </tr>
                  {category.items.map(item => (
                    <tr class="border-b border-violet">
                      <th scope="row" class="px-2 py-2 font-medium text-black dark:text-white">
                        {item.name}
                      </th>
                      <td class="px-1 py-2 text-center">
                        {item.standard ? (
                          <span class="text-green-400 font-bold text-lg glow-green">&#10004;</span>
                        ) : (
                          <span class="text-red-400 font-bold text-lg glow-red">&#10008;</span>
                        )}
                      </td>
                      <td class="px-1 py-2 text-center">
                        {item.premium ? (
                          <span class="text-green-400 font-bold text-lg glow-green">&#10004;</span>
                        ) : (
                          <span class="text-red-400 font-bold text-lg glow-red">&#10008;</span>
                        )}
                      </td>
                    </tr>
                  ))}
                </>
              ))}
            </tbody>
          </table>
        </div>
      </MagicCard>
      
    </div>

    
  </main>
</Layout>

<style>
  @import "../styles/global.css";

  .glow-green {
    text-shadow: 0 0 10px #4ade80, 0 0 20px #4ade80, 0 0 30px #4ade80;
  }

  .glow-red {
    text-shadow: 0 0 10px #f87171, 0 0 20px #f87171, 0 0 30px #f87171;
  }

  /* Adjust table width */
  #detailed-pricing {
    max-width: 85%;
    width: 100%;
    margin: 2rem auto;
  }

  #detailed-pricing th > div {
    display: inline-block;
    white-space: nowrap;
  }

  #detailed-pricing th:first-child > div {
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
  }

  #detailed-pricing th:last-child > div {
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
  }
</style>