---
export interface Props {
  id: string;
  title: string;
}

const { title, id } = Astro.props;
---

<section
  id={id}
  class="flex scroll-mt-24 flex-col items-center gap-4 space-y-8"
>
  <div class="flex flex-col items-center gap-4">
    <slot name="eyebrow" />
    <h2
      class="solid-text opaque-text text-center font-light tracking-tight text-6xl text-violet-dark"
    >
      {title}
    </h2>
  </div>
  <p class="max-w-xl text-center font-extralight text-2xl opaque-text">
    <slot name="lead" />
  </p>
  <slot />
</section>