---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import tmLogo from "~/assets/tM-logo.png";
import { Image } from "astro:assets";
import RetroGrid from "~/components/animations/RetroGrid.astro";

---

<div class="relative z-10">
  <RetroGrid class="fixed inset-0 z-0" />
  <div class="flex flex-col items-center mb-6">
    <Image src={tmLogo} alt="ThreatMatic Logo" width={100} height={100} />
  </div>
  <ContentSection title="Your shield against cyber threats." id="intro">
    <Fragment slot="lead">
      ThreatMatic™ provides     
      <span class="text-primary">instant protection </span> against ransomware, malware, phishing and other threats. Our
      <span class="text-primary">user-friendly dashboard</span> and powerful agent makes it
      <span class="text-primary">easy to secure </span> your valuable assets.
    </Fragment>
  </ContentSection>
</div>