---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import HeroImage from "~/components/hero-image.astro";
import Starfield from "~/components/starfield.astro";
import ThreatMaticLogo from "~/components/animations/ThreatMaticLogo.svelte";
---

<section class="relative h-full bg-black">
  <Starfield />
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <HeroImage />
  </div>
  <div class="relative flex h-full flex-col items-center justify-center">
    <h2
      class="flex flex-col items-center gap-2 text-center"
    >
      <ThreatMaticLogo client:load />
      <div
        class="gradient-text text-center font-extrabold tracking-tighter text-6xl md:text-8xl"
      >
        Zero Trust
        <br /> Demystified.
      </div>
    </h2>
  </div>
</section>